# Active le moteur de réécriture d'URL
RewriteEngine On

# Vérifie si le chemin demandé n'est pas un fichier existant sur le serveur
RewriteCond %{REQUEST_FILENAME} !-f

# Vérifie si le chemin demandé n'est pas un répertoire existant sur le serveur
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrit l'URL demandée vers index.php, en passant le chemin demandé comme paramètre GET nommé 'page'
RewriteRule ^(.*)$ index.php?page=$1

